@model List<AZ204.WebApp.Models.Product>
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">This is a list of Products - Latest Version</h1>
    @if (ViewBag.IsBeta)
    {
        <h2>This is a beta version of product.</h2>        
    }
    <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>      
    </tr>
  </thead>
   <tbody>
    
        @foreach(var product in Model)
                {
                    <tr>
                    <th scope="row">@product.ProductID</th>
                    <td>@product.ProductName</td>
                    <td>@product.Quantity</td>
                    </tr>
                }                
    
    </tbody>
  </table>
</div>

